body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 3% 4%;
}

.big-num{
  font-size: xx-large;
  font-weight: bolder;
  color: #0f6d97;
  margin: 0;
}

.text-grey{
  color: #585859;
}

.spacer-50{
  height: 50px;
}
.spacer-25{
  height: 25px;
}

.buffer-left-25{
  padding-left: 25px;
}

.align-center{
  width: 90vw;
  text-align: center;
}

.no-margin{
  margin: 0;
}
